In [1]:
'''
Given two numbers, check if they are equals (use try except)
'''
number1 = 20
number2 = 30
try:
    if 1/(number1 - number2 == 0):
        print("equal")
except:
        print("not equal")

not equal

In [3]:
'''
find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included)
'''
result_list =[]
for i in range(1500,2701):
    if (i%7==0) and (i%5==0):
        result_list.append(str(i))
print (result_list)

['1505', '1540', '1575', '1610', '1645', '1680', '1715', '1750', '1785', '1820', '1855', '1890', '1925', '1960', '1995', '2030', '2065', '2100', '2135', '2170', '2205', '2240', '2275', '2310', '2345', '2380', '2415', '2450', '2485', '2520', '2555', '2590', '2625', '2660', '2695']

In [5]:
'''
sum of three given integers. 
However, if two values are equal sum will be zero
'''

my_nb1 = 10
my_nb2 = 10
my_nb3 = 15

if my_nb1 == my_nb2 or my_nb2 == my_nb3 or my_nb3 == my_nb1:
    print(0)
else:
    print(my_nb1 + my_nb2 + my_nb3)
# my_list[]
# my_list.extend([my_nb1,my_nb2,my_nb3])
# if len(set(my_list)) == len(my_list):
# my_sum = sum(my_list)
#

0

In [ ]:
'''
add two objects if both objects are an integer type
'''

my_obj1 = 13
my_obj2 = '12'

if not (isinstance(my_obj1, int) and isinstance(my_obj2, int)):
         raise TypeError("Inputs must be integers")
print(my_obj1 + my_obj2)

In [15]:
'''
convert seconds to day, hour, minutes and seconds
'''

my_secs = 16582
from datetime import timedelta
print(timedelta(seconds=16582.00))

4:36:22

In [13]:
'''
construct the following pattern, using a nested for loop.
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*
'''

n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [15]:
'''
return the largest of three numbers. 
Do this without using the Python max() function
'''

my_nb1 = 13
my_nb2 = 3
my_nb3 = 1

numbers=[my_nb1,my_nb2,my_nb3]

maxx = 0 
for n in numbers:
    if n > maxx:
        maxx = n
maxx

13

In [43]:
'''
find how many 0s a number has
'''

my_nb = '13001200'

value = my_nb.count('0')

print(value)

4

In [41]:
'''
accept a word from the user and reverse it. 
use input
'''
word = input("Input a word to reverse: ")

for char in range(len(word) - 1):
  print(word[char], end="")
print("\n")

'\naccept a word from the user and reverse it. \nuse input\n'

In [67]:
'''
check whether the key "nom" already exists in a dictionary.
'''

my_dict = {'age': 25, 'taille': 180, 'nom': 'alexi'}


if 'nom' in my_dict:
    print('this word exist')
else:
    print("this word doesn't exit")

this word doesn't exit

In [65]:
'''
return value of "nom" 
'''
my_dict = {'age': 25, 'taille': 180, 'nom': 'alexi'}

print(my_dict['nom'])

alexi

In [56]:
'''
make a statement that returns the value of the key "nom" if it exists, otherwise None
'''

my_dict = {'age': 25, 'taille': 180}

if 'nom' in my_dict.keys():
    print("my name is :",my_dict['nom'])

In [57]:
'''
change "nom" to your name in my_dict
'''
my_dict['name'] = 'jordan'
print(my_dict)

{'age': 25, 'taille': 180, 'name': 'jordan'}

In [59]:
'''
print a dictionary that contains a number (between 1 and n) in the form (x, x*x)
n = 5
output {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
'''

n = 5
d = dict()

for x in range(1,n+1):
    d[x]=x*x

print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [60]:
'''
merge two Python dictionaries
'''

my_dict1 = {'age': 24, 'taille': 180}
my_dict2 = {'nom': 'lahoe', 'prenom': 'alexi'}

my_dict3 = my_dict1 | my_dict2

print(my_dict3)

{'age': 24, 'taille': 180, 'nom': 'lahoe', 'prenom': 'alexi'}

In [61]:
'''
sum all the items in a dictionary
'''

my_dict = {'key1': 1, 'key2': 2, 'key3': 3}

print(sum(my_dict.values()))

6

In [63]:
'''
remove a key "nom" a dictionary
'''

my_dict = {'age': 25, 'taille': 180, 'nom': 'alexi'}

my_dict2 = my_dict.pop('nom')

print(my_dict)

{'age': 25, 'taille': 180}

In [64]:
'''
map two lists into a dictionary.
'''

list1 = ['nom', 'prenom', 'age']
list2 = ['alexi', 'lahoe', 24]

combined_list= dict(zip(list1,list2))

print(combined_list)

{'nom': 'alexi', 'prenom': 'lahoe', 'age': 24}